/* navbar */
#container_header{
    width:95vw;
    height:8vh;
    display:grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 8vh;
    /* flex-direction:row;
    align-items:center;
    justify-content: space-between; */
}

#header{
    background-color: #0789D7;
    /* padding-left:5px; */
}
.logo{
    display: flex;
    align-items: center;
    padding-left:20px;
    font-size: 22px;
    color:#C5E3F0;
}

.libre-baskerville-.logo {
  font-family: "Libre Baskerville", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    font-family: "Libre Baskerville", serif;
    padding-left:12%;
}

.navgrid{
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 2fr 1.5fr;
}

.nav{
    text-decoration: none;
    color:#C5E3F0;
}
.nav:hover{
    color:#0789D7;
    background-color: #C5E3F0;
    border-radius: 5px;
    transition:0.2s ease-in-out;
}

.naviconmenu{
    width:35px;
    height:35px;
    border:2px solid #C5E3F0;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left:95%;
    margin-top:10px;
    border-radius: 3px;
}
.naviconmenua{
    font-size: 55px;
    font-weight:900;
    text-decoration: none;
    text-align: center;
    color:#C5E3F0;
}

#navicon{
    width:0;
    height:0;
    margin-top:10px;
    margin-left:90%;
    overflow:hidden;
    position:fixed;
    /* transition: all 2s ease-in-out; */
}
#navicon:target{
    width:15%;
    height:15%;
    border:1px solid black;
    margin-top: 0px;
    margin-left:90%;
    background-color: #C5E3F0;
    overflow: scroll;
}

.navlink{
    text-decoration: none;
    font-size: 20px;
}
.navicon_close:hover{
    color:red;
}
.navlink:hover{
    background-color: #C5E3F0;
    color:#0789D7;
}

.navicon_close{
    text-decoration: none;
    font-size: 20px;
    font-weight: 900;
}

@media only screen and (max-width:500px){
    .logo{
        font-size:15px;
        flex:1 1 0;
    }
    .navbar{
        display:none;
    }
    .naviconmenu{
        margin-left:100%;
    }
    .container_header{
        display:grid;
        grid-template-columns: 1fr 0fr 1fr;
    }
    #navicon{
        margin-left: 90vh;
    }
    #navicon:target{
        margin-left: 63%;
        width:23%;
        height:15%;
    }
    .navlink{
    font-size: 16px;
    }
}

/* Main */
/* about section */
#about{
    width:100%;
    height:74vh;
    background-color: #C5E3F0;
    margin-top:120px;
    border-top: 2px solid #0789D7;
    border-radius: 10px;
}

.profile_image{
    width:200px;
    height:200px;
    margin-left:42%;
    margin-top:-90px;
    border:2px solid #0789D7;
    border-radius:50%;
    box-shadow: 0px 0px 15px 2px #0789D7;
}



@media (max-width:500px){
    .profile_image{
        width:120px;
        height:120px;
        margin-left:36%;
        margin-top:-50px;
    }
}     
@media only screen and (min-width:768px) and (max-width:991px){
    .profile_image{
        width:150px;
        height:150px;
        margin-left:40%;
    }
    .naviconmenu{
        display:none;
    }
    #navicon{
        display:none;
    }
    .navbar{
        padding-left: 18%;
    }
}
@media only screen and (min-width:501px) and (max-width:767px){
    .profile_image{
        width:130px;
        height:130px;
        margin-left:38%;
        margin-top:-70px;
    }
    .logo{
        font-size:17px;
        flex:1 1 0;
    }
    .navbar{
        padding-left: 18%;
        font-size: 18px;
    }
    .navgrid{
        gap:5%;
    }
}


/* about-information */
.container_about{
    width:90vw;
    height:70%;
    /* border: 1px solid black; */
    margin-left:4%;
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 100%;
    gap:30px;
}
.container_propertie1{
    display:grid;
    grid-template-rows: 16% 30% 16%;
    padding-right: 20px;
    justify-content:end;
}
.container_propertie2{
    display:grid;
    grid-template-rows: 16% 30% 16%;
    flex-direction: column;
}
.cp{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.container_propertie2 ul{
    display:grid;
    padding-left:20px;
    align-items: start;
}
.container_propertie1 h3{
    font-size: 30px;
    font-weight: 900;
    color:#0789D7;
}
.container_propertie2 h4,ul{
    font-size: 25px;
    font-weight: 500;
    color:#038091;
}

.container_propertie1 .cp{
    display:flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
}
.container_propertie2 .cp2{
    padding-top: 7px;
}

/* about-information @media screen  */

@media only screen and (max-width:340px){
    .container_propertie1 .cp{
        font-size: 18px;
    }
    .container_propertie2 .cp{
        font-size: 15px;
    }
    .profile_image{
        width:120px;
        height:120px;
        margin-left:28%;
        margin-top:-50px;
    }
    .container_propertie2 .cp{
        align-items: center;
    }
}

@media only screen and (min-width:310px) and (max-width:500px){
    .container_propertie1 .cp{
        font-size: 16px;
    }
    .container_propertie2 .cp{
        font-size: 14px;
    }
    .container_about{
        gap:10px;
    }
    .container_propertie2 .cp1{
        align-items: center;
    }
    .container_propertie1 .cp1{
        align-items: center;
    }
    .container_propertie2 .cp{
        align-items: center;
    }
    .container_propertie2 .cp2{
        align-items: start;
        padding-top: 4px;
    }
    .container_propertie2 .cp3{
        align-items: start;
    }
}

@media only screen and (min-width:501px) and (max-width:767px) {
    .container_propertie1 .cp{
        font-size: 25px;
    }
    .container_propertie2 .cp{
        font-size: 20px;
    }
    .container_about{
        gap:10px;
    }
    .naviconmenu{
        display:none;
    }
    #navicon{
        display:none;
    }
}
@media only screen and (min-width:992px){
    #navicon{
        display: none;
    }
    .naviconmenu{
        display:none;
    }
    .navbar{
        margin-left:100px;
    }
}